#og-code {
    background-color: rgb(0, 0, 0);
    font-family: serif;
}

/*
#og-intro {
    font-size: xx-large;
}
*/

#og-header {
    color:rgb(240, 219, 84);
    font-family: fantasy;
}


h3 {
    color:rgb(240, 226, 240);
}


h6 {
    color:rgb(250, 250, 250);
    font-family: monospace;
    font-size: 12px;
    font-style: italic;
}


p {
    font-family: sans-serif;
}


#intro {
    color:rgb(240, 39, 89);
}
#introH {
    color: rgb(240, 39, 89);
}
.introC {
    color:rgb(200, 39, 89);
}




#firstProject {
    color:rgb(240, 112, 14);
}
#firstProjectH {
    color:rgb(240, 112, 14);
}
.firstProjectC {
    color:rgb(200, 112, 14);
}




#learnVar {
    color:rgb(260, 205, 5);
}
#learnVarH {
    color:rgb(260, 205, 5);
}
.learnVarC {
    color:rgb(230, 205, 5);
}




#adDesign {
    color: rgb(110, 196, 25);
}
#adDesignH {
    color: rgb(110, 196, 25);
}
.adDesignC {
    color:rgb(150, 196, 25);
}


#advice {
    font-weight: bold;
}




#fishTank {
    color:rgb(5, 174, 235);
}
#fishTankH {
    color:rgb(5, 174, 235);
}
.fishTankC {
    color:rgb(-45, 174, 235);
}




#statements {
    color:rgb(190, 80, 200);
}
#statementsH {
    color:rgb(190, 80, 200);
}
.statementsC {
    color:rgb(170, 80, 200);
}



#rain {
    color:rgb(150, 90, 280);
}
#rainH {
    color:rgb(150, 90, 280);
}
.rainC {
    color:rgb(110, 90, 280);
}




#more {
    color:rgb(189, 185, 174);
}
#moreH {
    color:rgb(189, 185, 174);
}
.moreC {
    color:rgb(200, 185, 174);
}


#html-css {
    color:rgb(250, 249, 242);
}
#html-cssH {
    color:rgb(250, 249, 242);
}
.html-cssC {
    color:rgb(245, 240, 245);
}


#thanks {
    color: yellow;
}
